/*--------BACKGROUND IMAGE-------*/

body {
    background: url('https://c.wallhere.com/photos/ed/1c/africa_light_brazil_food_black_beautiful_brasil_blackbackground-737768.jpg!d') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/*--------RECIPE IMAGES-------*/

img {
    height: 500px;
}

/*--------NAVBAR-------*/

.side-nav li>a {
    font-size: 20px;
    font-weight: bolder;
    padding: 38px;
}

.button-collapse {
    font-size: 30px;
}

/*--------RECIPE STYLES-------*/

.material-icons right {
    font-size: 40px;
}

/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 4px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*--------MEDIA QUERIES-------*/

@media only screen and (max-width: 500px) {
    nav .nav-wrapper {
        height: 5%;

    }

    i.material-icons {
        font-size: 30px;

    }

    .brand-logo {
        font-size: 30px;
    }

}
