body {
     background-image: url('https://c.wallhere.com/photos/ed/1c/africa_light_brazil_food_black_beautiful_brasil_blackbackground-737768.jpg!d');
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
                background-size: cover;
                
}

.row {
     max-height: 660px;
}

img {
     max-height: 600px;
}

.side-nav li>a {
     font-size: 20px;
     font-weight: bolder;
     padding: 38px;
}

@media only screen and (min-width: 500px) {
     .nav-wrapper {
          font-size: 20px
          
     }
}