<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
</head>

<body>
    <header>
        <nav>
            <!------- DROPDOWN-------->
            <ul id="dropdown1" class="dropdown-content blue-grey darken-4">
                <li><a href="{{url_for('french_cuisine')}}" target="_blank">French</a></li>
                <li><a href="{{url_for('italian_cuisine')}}" target="_blank">Italian</a></li>
                <li><a href="{{url_for('mexican_cuisine')}}" target="_blank">Mexican</a></li>
                <li><a href="{{url_for('other_cuisine')}}" target="_blank">Other</a></li>
            </ul>
            <div class="nav-wrapper blue-grey darken-4">
                <a href="{{url_for('get_recipe')}}" class="brand-logo">&nbsp;&nbsp;Yum!Yum!</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('add_recipe')}}" target="_blank">Create Recipe</a></li>
            <!----------DROPDOWN ACTIVATOR--------->
                    <li><a class="dropdown-button" href="{{url_for('get_recipe')}}" data-activates="dropdown1" target="_blank">Cuisines<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="{{url_for('my_recipe')}}" target="_blank">My Recipes</a></li>
                </ul>
                <ul class="side-nav indigo lighten-5" id="mobile-demo">
                    <li><a href="{{url_for('add_recipe')}}">Create Recipe</a></li>
                    <li><a href="{{url_for('french_cuisine')}}" target="_blank">French</a></li>
                    <li><a href="{{url_for('italian_cuisine')}}" target="_blank">Italian</a></li>
                    <li><a href="{{url_for('mexican_cuisine')}}" target="_blank">Mexican</a></li>
                    <li><a href="{{url_for('other_cuisine')}}" target="_blank">Other</a></li>
                    <li><a href="{{url_for('my_recipe')}}" target="_blank">My Recipes</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        {% block content %} {% endblock %}
        <div>
<!---------------------SCRIPTS--------------------->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $(".dropdown-trigger").dropdown({ hover: false });
                    $('.collapsible').collapsible();
                    $('select').material_select();
                    $(".button-collapse").sideNav();
                    $('.chips-placeholder').material_chip({
                        placeholder: 'Enter Ingredient',
                        secondaryPlaceholder: '+ ingredient',
                    });
                });
            </script>
</body>

</html>
