{% extends 'base.html' %} {% block content %} 
{% for oth in other %}
<div class="row">
  <br>
  <br>
    <div class="col s12 card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{oth.image}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">expand_more</i></span>
      </div>
      <div class="card-reveal hoverable indigo lighten-5">
        <span class="card-title green-text"><i class="material-icons right">expand_less</i><h4>{{oth.dish_name}}</h4></span>
        <br>
        <h5><em>Ingredients</em></h5>
        <br>
        {% for ingre in oth.ingredients %}
        <div class="chip blue accent-1">
          {{ingre}}
        </div>
        {% endfor %}
        <br>
        <br>
        <h5><em>Preparation Instructions:</em></h5>
        <br>
        {% for inst in oth.instructions %}
        <ul><li>{{inst}}</li></ul>
        {% endfor %}
      </div>
    </div>
    <br>
    <br>
    <br>
</div>
{% endfor %}
{% endblock %}
